* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--purple);
    background: rgba(187, 153, 221, 0.08);
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

/* main div */
.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border: 2px solid #BB99DD;
    border-radius: 50%;
    padding: 5px;
    margin-top: 100px;
}

.instagram {
    color: var(--purple);
    text-decoration: none;
}

.instagram:hover {
    font-weight: 600;
    transition: .5s;
}

.links {
    width: 300px;
    height: 49px;
    border: 2px solid #BB99DD;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.links:hover {
    background: rgba(187, 153, 221, .5);
    transition: 0.5s;
}

.links a {
    text-decoration: none;
    font-weight: 600;
    color: var(--purple);
}

.links a:hover {
    color: white;
    transition: 0.5s;
}

.assets {
    width: 120px;
    height: 28px;
    margin: 0 auto;
    margin-top: 40px;
}

.icons {
    margin-right: 10px;
    text-align: center;
}

footer {
    text-align: center;
    /* font-size: 12px; */
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #BB99DD;
}

@media (max-width: 600px) {
    .container {
        width: 340px;
        margin: 0 auto;
    }
    .profile-picture {
        margin-top: 20px;
    }

    .links {
        width: 220px;
        margin-top: 10px;
    }

    .assets {
        margin-top: 15px;
    }

    footer {
        font-size: 15px;
    }
}